/node_modules


# To create .gitignore file use touch command

# user-name$ touch .gitignore
# then open .gitignore file and add /node_modules

# .gitignore
# /node_modules

# it will work.

#  npm install express

# npm install nodemon -D
# npm install nunjucks
# npm install sqlite3